{% extends "_layout" %}

{% set entryIds = craft.entries.section('video').ids() %}
{% set categories = craft.categories.relatedTo({ sourceElement: entryIds }).groupId(1).find() %}

{% set tag = craft.request.getParam('tag') %}
{% set cat = craft.request.getParam('cat') %}
{% set category = craft.categories.group('categories').title(cat).first() %}


{% block content %}

<style media="screen">

	html, body{height:100%;}

</style>

{% set play = craft.request.getParam('play') %}
{% set autoplay = '' %}
{% if play %}
	{% set autoplay = '?autoplay=1' %}
	{% set style = 'style="background:transparent; display:block"'%}
{% endif %}

{% set cookie = craft.setcookie.get() %}



<section class="project-banner single-work-banner banner_sizing img_overlay" >
	{% set imageUrl = "" %}
	{% if entry.videoImage and entry.videoImage | length > 0 %}
		{% set imageUrl = entry.videoImage.first().url %}
	{% elseif entry.video %}
		{% set imageUrl = craft.setcookie.vimPic(entry.video) %}
	{% endif %}
	<div class="container cf hero-bg" style="background-image: url({{imageUrl}}); background-repeat:no-repeat; background-size:cover; margin:0; width:100%" >
		<div class="grid_full">
			<div class="hero grid_9">
				<div class="va_b over-message">
					<div class="container">
						<h1>{{entry.title}}</h1>
						{% if entry.client %}
						<h2>Client: {{entry.client}}</h2>
						{% endif %}
						{% if entry.video %}
							<a href="#" id="play" class="btn">play &#9656;</a>
						{% endif %}			
					</div>
				</div>
				<div class="gradient"></div>
			</div>
		</div>
	</div>
	{% if entry.video %}
		<div id="video">
			<div class="video-holder">
				<iframe src="//player.vimeo.com/video/{{entry.video}}{{autoplay}}" frameborder="0" height="100%" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
	{% endif %}
</section>



<section>
	<div class="container cf">
		<div class="grid_9">
			<div class="project-info">
				{% if entry.body %}
					<h5>Event Brief</h5>
					{{entry.body}}
				{% endif %}

				{% if entry.liveDescription %}
					<h5>Description</h5>
					{% for block in entry.liveDescription if block.type == 'image' or block.type == 'text' or block.type == 'video'  %}
					    {% if block.type == "text" %}
					        <span class="beta">{{ block.text }}</span>
					    {% elseif block.type == "image" %}
							{% set image = entry.liveDescription.block('image') %}
						    {% if block.imagePosition == 'right' %}
								<figure class="content_pad_left grid_flow_opposite offset-img">
								{% elseif block.imagePosition == 'left' %}
								<figure class="content_pad_right grid_flow_opposite offset-img">
								{% else %}
								<figure class="cf grid_full">							
							{% endif %}
									<img src="{{ block.image.first().url }}" alt="{{block.image.first().title}}" />
									<figcaption>
										{{ block.caption }}
									</figcaption>
								</figure>
					    {% endif %}		
					    	    
					    {% if block.type == "video" %}
						<div class="video-holder">
						<figure>
							<iframe src="//player.vimeo.com/video/{{block.vimeo}}{{autoplay}}" frameborder="0" height="100%" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
						<figcaption>
							{{ block.caption }}
						</figcaption>
					</figure>
				</div>					   
					    {% endif %}
					{% endfor %}				
					{% set pressItems = entry.liveDescription.type('press') %}
					{% if pressItems %}
					<div class="project-info grid_full">
						<h5>Press</h5>
						<ul>
							{% for item in pressItems %}
								<li><a href="{{ item.webAddress }}">{{ item.displayText }}</a></li>
							{% endfor %}
						</ul>
					</div>
				    {% endif %}

				{% endif %}
				
			</div>
		</div>
		<div class="sidebar grid_3 project-info">
			{% if entry.tags %}
			<h5>Services Provided</h5>
			<ul class="meta-list">
				{% for tag in entry.tags %}
					<li>{{tag.title}}</a></li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
		
		{% if cookie %}
		<div class="sidebar grid_3 project-info">
			<h5>More Projects Like This:</h5>
			<ul class="meta-list">
				{% for category in entry.category %}
				<li><a href="/video?cat={{category.slug}}">{{category.title}}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>
</section>

<section class="recent">
	<div class="container">
		<div class="work cf">
			<span class="grid_full"><h5>Similar Projects</h5></span>
			{% if not cookie %}
				{% cache %}
					<ul class="info-blocks">
						{% for entry in craft.entries.section('video').private('not 1').videoFeatured('1').order('title').limit(3) %}
						<li class="grid_4">
							{% if entry.videoImage and entry.videoImage | length > 0 %}
								{% set imageUrl = entry.videoImage.first().url %}
							{% else %}
								{% set imageUrl = craft.setcookie.vimPic(entry.video) %}
							{% endif %}
							<div style="background-image: url({{imageUrl}});">
								<a href="{{ entry.url }}">
								</a>
								<div>
									<h5>{{ entry.title }}</h5>
									<p>{{entry.shortDescription}}</p>
								</div>
							</div>
						</li>
						{% endfor %}
					</ul>
				{% endcache %}
			{% else %}
				{% cache %}
				{% if not cat %}
				<ul class="info-blocks">
					{% for entry in craft.entries.section('video').order('title').limit(3)  %}
					<li class="grid_4">
						<div style="background-image: url({%if entry.videoImage | length %}{% for asset in entry.videoImage %}{{ asset.url }}{% endfor %}{% else %}{{ craft.setcookie.vimPic(entry.video) }}{% endif %});">
							<a href="{{ entry.url }}">
							</a>
							<div>
								<h5>{{ entry.title }}</h5>
								<p>{{entry.shortDescription}}</p>
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>
				{% else %}
				<ul class="info-blocks">
					{% for entry in craft.entries.section('video').relatedTo(category).limit(3) %}
					<li class="grid_4">
						<div style="background-image: url({%if entry.videoImage | length %}{% for asset in entry.videoImage %}{{ asset.url }}{% endfor %}{% else %}{{ craft.setcookie.vimPic(entry.video) }}{% endif %});">
							<a href="{{ entry.url }}">
							</a>
							<div>
								<h5>{{ entry.title }}</h5>
								<p>{{entry.shortDescription}}</p>
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>
				{% endif %}
				{% endcache %}
			{% endif %}
		</div>
	</div>
</section>


{% if not play %}
<script charset="utf-8">
	$(document).ready(function(){
		$('#video').hide();
		$('#play').on('click', function(e){
			e.preventDefault();
			$('.project-banner').css('background-image','none');
			$('#video').show();
			$('.hero-bg').hide();
			var src = $('#video iframe').attr('src');
			$('#video iframe').attr('src', src + '?autoplay=1');
			$(this).hide();
		});
	});
</script>
{% endif %}

{% if play %}
<script charset="utf-8">
	$('.project-banner').css('background-image','none');
	$('.hero-bg').hide();
</script>
{% endif %}

{% endblock %}
